.ratingsList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}
.ratingsList h1 {
  text-transform: uppercase;
}
.allRatings {
  background-color: rgb(167, 210, 245);
  width: 90%;
  margin: 3rem auto;
  border: 2px solid black;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  font-size: 1rem;
}

.backBtn {
  font-size: 1.2rem;
  height: 45px;
  width: 200px;
  padding: 5px;
  border-radius: 20px;
  background-color: rgb(167, 210, 245);
}
