.rating {
  width: 100%;
  background-color: rgb(240, 152, 167);
  padding: 10px;
  height: 60px;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
